<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="folderToWatch" value="D:\home\site\wwwroot\"/>
        <add key="logfile" value="D:\home\LogFiles\ImageOptimizer.cache"/>
        <add key="configFileName" value="imageoptimizer.json"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>